<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-alinig-center">
        <div *ngIf="input != undefined">
          <app-display resultado={{this.resultado}} input={{this.input}}></app-display><!---------------DISPLAY----------------->
        </div>

        <!-- Tabla de calculadora -->

        <div *ngFor="let items of numberGroups">
          <ion-button *ngFor="let item of items" class="calc-button" (click)="func(item)">{{item}}</ion-button>
        </div>
        <!-- <ion-button class="calc-button">=</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


